$background-color: #cc3131dc;
$text-color: #333;
$primary-color: #3589d8;
$secondary-color: #2c3e50;
$bg-color: #f8f8f8;
$border-radius: 10px;
$tertiary-color: #FF9800;
$gradient-card-1: linear-gradient(135deg, rgba(178, 58, 72, 0.8), rgba(196, 155, 204, 0.8));