$background-color: linear-gradient( to left, #01061a,#575757);
$text-color: #333;
$primary-color: #3589d8;
$secondary-color: #2c3e50;
$bg-color: #f8f8f8;
$border-radius: 10px;
$tertiary-color: #FF9800;
$gradient-card-1: linear-gradient(#ff4b1f, #ff9068); 



